.navbar {
  background-color: #333333;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar .dropdown {
  position: absolute;
  right: 10px;
  top: 10px;
}
.navbar ul li a {
  display: block;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 1px solid #333333;
}
* {
  box-sizing: border-box;
}

form.searching input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.searching button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #0f0f0f;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searching button:hover {
  background: #0b7dda;
}

form.searching::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main {
	margin: 10px 0;
}
.images {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.images figure {
    width: 25%;
    text-align: center;
}

.images figure img {
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #222;
    box-shadow: 10px 10px #ccc;
}
.facebook {
  font-size: 32px;
  padding-top: 10px;
  float: left;
  padding-left: 5px;
}
.youtube {
  font-size: 32px;
  padding-top: 10px;
  float: right;
  padding-right: 5px;
}
.idk {
  width: 200px;
  height: 200px;
}
.center{
  text-align: center;
}
.right {
  text-align: right;
}
.width {
  width: 25%;
}
.frameborder {
  border: 0;
}
.grey {
  background-color: #ddd;
}
.lightred{
  background-color: #fffffa;
}
.black {
  background-color: #333333;
}
.heading {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
}
#time {
  margin: 0;
}
td:first-child {
  background: #eaeaea;
  font-weight: bold;
}
td, th {
  padding: 8px;
}
th {
  background: #eaeaea;
}
iframe {
  margin: 0 auto;
  display: block;
  width: 560px;
  height: 315px;
}
@media screen and (max-width: 600px) {
  .navbar ul{
    display: block;
  }
  .images {
    padding-top: 5px;
    display: block;
  }
  iframe {
    width: 300px;
    height: 200px;
  }

}
@media screen and (max-width: 870px) {
  .navbar ul{
    display: block;
  }
.youtube {
    float: left;
  }
}
@media screen and (max-width: 950px) {
  .navbar ul{
    display: block;
  }
}